.board {
  position: relative;
  overflow: auto;
}

div.note {
  height: 150px;
  width: 150px;
  background-color: rgba(228, 168, 29, 0.7);
  margin: 2px 0;
  margin-bottom: 10px;
  position: absolute;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s linear;
}

div.note button {
  margin: 2px;
}

a {
  text-decoration: underline !important;
}
