@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu" !important;
}

.navbar {
  font-family: "Ubuntu" !important;
}

input[type="text"] {
  font-family: "Ubuntu" !important;
}

button {
  font-family: "Ubuntu" !important;
}

input[type="password"] {
  font-family: "Ubuntu" !important;
}
