@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
button,
div,
input {
  font-family: "Ubuntu" !important;
}

.board.container {
  display: flex;
}

.checkbox {
  margin-top: 2%;
  margin-bottom: 2%;
}

.new.board {
  margin-left: 2%;
  overflow: visible;
}

.logo {
  font-size: 20px;
}
